html {
  overflow-x: hidden;
  height: 100%;
}

body {
  margin:0px;
  padding:0px;
  font-family: "Open Sans", sans-serif;
  background: #000000;
  color: white;
}

img {
  margin-top: 1%;
}

.bg1 {
  margin: 0px;
  height: 2500px;
  width: 100%;
  background: url(https://github.com/VulfovichShurik/vulfovichshurik.github.io/blob/master/img/35.jpg?raw=true) no-repeat top center;
  color: black;
  -webkit-backsground-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.bg1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 100%); 
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  text-align: center;
}

.question {
  background: #696969;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px 20px;
  border: 5px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}

.answer {
  background: #696969;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px 20px;
  border: 5px;
  border-radius: 20px;
  font-size: 18px;
}

.wrapper {
  width: 50%;
  height: 200vh;
  position: relative;
  margin: auto;
  text-align: center;
  color: white;
}

.question button {
  margin: 10px 10px;
  padding: 5px;
  width: 100px;
}

.answer {
  position: relative;
  left: 0;
  top: 50px;
}

button.last_answer {
  background-color: #E0FFFF;
}

button {
  font-size: 13px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #FFFFFF;
  color: black;
  border: 0px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.5s;
}

button:hover {
  background: gray;
  color: #FFFFFF;
  box-shadow: 0 0 20px #00FFFF;
 }

.site-footer {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #FFFFFF;
  color: black;
  border: 0px;
  font-weight: bold;
  border-radius: 30px;
}
